.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    text-align: center;
}


.lower-part {
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-variation-settings:100;
    color: black;
    font-style: italic
};

.reddit-sans {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
    opacity: 0.3;
}


.navbar {
    padding: 0px;
    background-color: #BC7FCD;
}
.areas {
    background-color: #F3CCF3;
}

.name {
    font-size: 40px;
}

.button-1 {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 10px;
    color: #BC7FCD;
}

.shopping {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.red-heart {
    border: none;
    background: transparent;
    fill: red;
}

.shopping>*div {
   flex-direction: column;

}
.shopping>.card {
    @media (max-width:360px) {
        margin-top: 20px;    
       }
}

.card-img-top {
    max-height: 300px;
    max-width: 500;
}


.list {
    @media (min-width:900px) {
       padding-left: 400px;
    }
    padding-left: 100px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

@media (max-width:414px){
    .main {
        background-size: auto;
        background-position: center;
    }    
}

