
    .noto-serif {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: italic;
        font-variation-settings:100;
        font-size: 40px;
    };

.reddit-sans {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.red-heart {
    border: none;
    background: transparent;
    fill: red;
}

.list {
    @media (min-width:900px) {
       padding-left: 400px;
    }
    padding-left: 100px;
}

.navbar {
    padding: 0px;
    background-color: #BC7FCD;
}